<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link"routerLink="home" >Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"routerLink="about" >About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contact" >Contact</a>
      </li>
     
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
<!-- <app-login [loginTitle]="website.loginTitle"></app-login> -->
<div>
  <button class="btn btn-center btn btn-primary" (click)="getName(hello)">Click</button>
  <br/>
  <br/>
  <input type="text"#textid (keyup.enter)="myEvent(textid.value)" class="text-primary"/>
  <br/>
  <br/>

  <!-- <h2 (mouseover)="myEvent('Mouse event calling')">Mouseover</h2> -->
  <!-- <p [textContent]="ourText"></p>
  <img [src]="website.logo"> -->
  <!-- I method property binding -->
  <!-- <br/>
  <img bind-src="website.logo"> -->
  <!-- 2nd method propety binding -->
  <!-- <br/>
  <img src={{website.logo}}> -->
  <!-- 3rd method property binding -->
<!-- <br/>
<br/>
<input type="text"[disabled]="isDisabled" value="{{yourname}}"/>
<br/>
<br/>
<input type="text"[disabled]="isDisabled" value="{{yourname}}"/>
<br/>
<button (click)="editfun()">Edit</button> -->
<ul *ngFor="let item of myArray">
  <li>{{item.name}}-Age:{{item.age}}-Email:{{item.
    Email}}</li>
  
</ul>
<div>
  <h1></h1>
</div>

</div>
